body{
  height: 100vh;
}
.tabs-content.carousel .carousel-item { height: fit-content !important}
.tabs-content {height: 800px !important;}



ul.ulPlus{
    list-style: none;
    margin-left: 0;
    padding-left: 1em;
}
.ulPlus > li:before{
    color: black;
    content: '+ ';
    font-size: .8em;
    font-weight: bold;
}

.parallax > img{
    min-height: 100%
}

.tabs .tab a {
    color: black;
    /*Custom Text Color*/
  }
  
  .tabs .tab a:hover {
    color:#ff9800;
    /*Custom Color On Hover*/
  }
  
  .tabs .tab a:focus.active {
    color:#ff9800;
    /*Custom Text Color While Active*/
    background-color: rgba(0,0,0, 0);
    /*Custom Background Color While Active*/
  }
  
  .tabs .tab a.active {
    color:#ff9800;
    /*Custom Text Color While Active*/
    background-color: rgba(0,0,0, 0);
    /*Custom Background Color While Active*/
  }
  .tabs .indicator {
    background-color:black;
    /*Custom Color Of Indicator*/
  }
