<%- include('../partials/head')  %> 
<div class="row">
    <div class="col s12"> 
        <table>
            <tr>
                <th>Total Formula</th>
            </tr>
            <tr>
                
                <th>Ingredients</th>
                <th>%</th>
                <th>kg</th>
                
                
            </tr>
        </table>
    </div>
</div>


<%- include('../partials/foot')  %> 