<%- include('../partials/head') %>
<div style="overflow-x: scroll">
  <table id="root-table">
    <tr>
      <td>
        <table>
          <tr>
            <th colspan="3">Total Dough Weight (TDW)</th>
            <th class="yellow center">123 kg</th>
          </tr>
          <tr class="orange lighten-3">
            <th colspan="1" class="center">Total Formula</th>
            <th colspan="3">
              <div class="switch">
                <label
                  >%<input type="checkbox" /><span class="lever"></span
                  >wt</label
                >
              </div>
            </th>
          </tr>
          <tr>
            <th>Ingredients</th>
            <th class="center">Flour</th>
            <th class="center">%</th>
            <th class="center">kg</th>
          </tr>
          <tr>
            <td><input type="text" /></td>
            <td>
              <div class="switch">
                <label
                  ><input type="checkbox" /><span class="lever"></span
                ></label>
              </div>
            </td>
          </tr>
        </table>
      </td>
      <td>
        <table>
          <tr>
            <th>Total Flour</th>
            <th class="orange center">40 %</th>
          </tr>
          <tr>
            <th colspan="2" class="orange lighten-3" style="text-align: center">
              Preferment
            </th>
          </tr>
          <tr>
            <th class="center">%</th>
            <th class="center">kg</th>
          </tr>
          <tr>
            <td><input type="text" /></td>
            <td><input type="text" /></td>
          </tr>
        </table>
      </td>
      <td>
        <table>
          <tr>
            <th>Total Flour</th>
            <th class="orange center">60 %</th>
          </tr>
          <tr>
            <th colspan="2" class="orange lighten-3" style="text-align: center">
              Final
            </th>
          </tr>
          <tr>
            <th class="center">%</th>
            <th class="center">kg</th>
          </tr>
          <tr>
            <td><input type="text" /></td>
            <td><input type="text" /></td>
          </tr>
        </table>
      </td>
    </tr>
  </table>
</div>

<%- include('../partials/foot') %>
