<%- include('partials/head')  %>     


<div style="height: 3000px;"></div>
<div class="fixed-action-btn">
  <a class="btn-floating btn-large waves-effect waves-light red">
    <i class="large material-icons">add</i>
  </a>
</div>
<%- include('partials/foot')  %>     
